/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .main-content, .footer {
    padding: 20px;
    text-align: center;
}

.header {
    background-color: #333;
    color: white;
}

.main-content {
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
}

.footer {
    background-color: #555;
    color: white;
}

/* Keyframe animations */
@keyframes buttonPulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Button Animations */
.animated-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: buttonPulse 2s infinite;
}

.animated-button2 {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: buttonPulse 2s infinite;
}

/* Feature Animations */
.animated {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-color: #3498db;
}

.rotate {
    animation: rotate 2s linear infinite;
}

.scale {
    animation: scale 2s infinite alternate;
}

.fadeIn {
    animation: fadeIn 2s ease-out;
}

.slideDown {
    animation: slideDown 1.5s ease-out;
}

/* Responsive media queries */
@media (max-width: 768px) {
    .header, .main-content, .footer {
        padding: 10px;
    }

    .animated-button, .animated-button2 {
        font-size: 14px;
    }

    .animated {
        width: 80px;
        height: 80px;
    }
}


