/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.interactive-element {
    margin: 1rem;
    padding: 1rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.slider {
    width: 200px;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle label {
    margin-right: 0.5rem;
}

.pseudo-element-section {
    margin: 2rem;
    position: relative;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.box::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid #007bff;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.box:hover {
    background-color: transparent;
}

.box:hover::before {
    transform: scale(1);
}

.three-d-element {
    margin: 2rem;
    perspective: 1000px;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-inner:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.card-front {
    background-color: #007bff;
    color: white;
}

.card-back {
    background-color: #28a745;
    color: white;
    transform: rotateY(180deg);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}
